<style>
  
</style>

<div class="content">
  <div class="data">
    <div class="name">SpaceX Ships</div>
    <app-card></app-card>  
  </div>  
  <div class="search">
    <h2 class="search_h2">Фильтры</h2>
    <input class="search_text" type="text" value="Название">
    <div class="search_port">
      <h3>Порт</h3>
      <p>Выбраны</p>
      <div class="search_port_checkbox">        
        <p><input type="checkbox">Port Canaveral</p>
        <p><input type="checkbox">Port of Los Angeles</p>
        <p><input type="checkbox">Fort Lauderdale</p>
      </div>
    </div>
    <div class="search_type">
      <h3>Тип</h3>
      <p><input type="radio" name="type">Barge</p>
      <p><input type="radio" name="type">Cargo</p>
      <p><input type="radio" name="type">High Speed Craft</p>
      <p><input type="radio" name="type">Tug</p>
    </div>
  </div>
</div>
